
@using WEE_API.Models
@using WEE_API.ViewModel
@{
    var screenTitle = "Zone";
    ViewBag.Title = screenTitle;
    var ViewDT = new ViewDataDictionary<Zone>();
}
@section PageStyles
{
    <style>

    </style>
}

<div id="customForm">
<fieldset class="name">
        <div data-editor-template="ZoneName"></div>
    </fieldset>
</div>

@Html.Partial("_ExternalFilter", screenTitle)

<div class="row">
    <table id="DataTableZone" 
            class="table table-bordered table-hover table-header-fixed no-footer order-column"
            data-orders='[[0, "asc"]]'
            data-select="true"
            data-dom="fBrtlpi">
        <thead>
            <tr>
                  <th data-filter_type="auto_complete" data-data="ZoneName" data-type="string" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.ZoneName, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.ZoneName, ViewDT).PropertyName)
                  </th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Html.Partial("_CommonDatatablesEditor", new DatatablesEditorViewModel()
    {
        Controller = "Zone",
        TableID = "DataTableZone",
        FieldID = "ZoneID",
        ButtonPlaceID = "buttons",
        buttonExternal = false,
        //Ydacf = "HeaderFilter"
        Ydacf = "DataTablePutExternalFilter",
        CustomEditorFormID = "customForm"
    })
}