table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    content: "" !important;
}

.page-header.navbar .page-logo .logo-default {
    margin: 5px -7px 0 !important;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    margin: 15.5px -65px 0;
}

.page-header.navbar .page-logo {
    width: 210px;
}

.page-header.navbar {
    background-color: #155286 !important;
}

.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    padding: 6px 15px 6px 20px;
}

.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    padding: 10px 5px;
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .selected {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 3px;
    background: 0 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
}

.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: #13578d;
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a {
    background: #b02727 !important;
}

thead th {
    background-color: #e9f5ff !important;
    font-size: 14px;
    font-weight: 600;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected,
table.dataTable.display tbody > tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1,
table.dataTable.stripe tbody > tr.odd.selected,
table.dataTable.stripe tbody > tr.odd > .selected,
table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected,
table.dataTable.display tbody > tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
    background-color: #89e2bd !important;
    color: black !important;
}

table.dataTable.order-column tbody > tr.selected > .sorting_1,
table.dataTable.order-column tbody > tr.selected > .sorting_2,
table.dataTable.order-column tbody > tr.selected > .sorting_3,
table.dataTable.order-column tbody > tr > .selected,
table.dataTable.display tbody > tr.selected > .sorting_1,
table.dataTable.display tbody > tr.selected > .sorting_2,
table.dataTable.display tbody > tr.selected > .sorting_3,
table.dataTable.display tbody > tr > .selected {
    background-color: #89e2bd !important;
    color: black !important;
}

table.dataTable.order-column tbody > tr.selected:hover > td.sorting_1 {
    background: #d0e6dd !important;
}

.table-hover > tbody > tr:hover > td {
    background: #d0e6dd !important;
    cursor: pointer !important;
    color: black !important;
}

table.dataTable.hover tbody > tr.selected:hover > td,
table.dataTable.hover tbody > tr > .selected:hover > td,
table.dataTable.display tbody > tr.selected:hover > td,
table.dataTable.display tbody > tr > .selected:hover > td {
    background: #89e2bd !important;
    color: black !important;
    cursor: pointer !important;
}

.editorButton {
    font-size: 23px;
    padding-right: 5px;
    display: inline-block;
    position: relative;
    bottom: -3px;
}

@media (max-width: 480px) {
    .page-header.navbar .top-menu {
        display: block;
        clear: none;
        float: right;
    }
}

.dataTables_processing {
    background: #dcfa9b !important;
    padding: 0.5em 0 !important;
    font-weight: bold !important;
}

.editor-datetime {
    z-index: 10051 !important;
}

tr.filter td {
    padding: 5px !important;
    border-bottom: 1px solid #b9b6b6 !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    /*width: 250px !important;*/
    margin-top: 5px;
}

.numericCol {
    float: right;
}

.yadcf-filter-wrapper {
    margin: 0 -30px -8px -15px !important;
}

table.compact > thead > tr > th > div.yadcf-filter-wrapper {
    margin: 0 -30px 0px 0px !important;
}

.yadcf-filter, .yadcf-filter-range, .chosen-container.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: 100% !important;
}

.yadcf-filter-range-date {
    width: 87px !important;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled,
table.dataTable thead .sorting {
    background-position: top right !important;
}

.yadcf-filter-reset-button {
    margin-left: -2px !important;
}

.table > thead > tr > th {
    vertical-align: top;
}

.dataTables_filter {
    display: block !important;
}

.modal .modal-header {
    background-color: #b2e7ff !important;
}


.datagrid-view .datagrid-editable-input {
    color: black !important;
}


.tree-folder, .tree-folder-open, .tree-file {
    background: none !important;
}

.tree-icon.fa {
    padding-top: 4px !important;
    margin-right: 4px !important;
    font-size: 16px !important;
}

.YdacfExternalFilter label {
    text-align: right;
    padding: 0 !important;
    margin-left: -14px !important;
    margin-right: 14px !important;
}

.YdacfExternalFilter > .form-group {
    height: 20px;
}

.portlet {
    margin-bottom: 5px !important;
}

.dataTables_wrapper .dataTables_info {
    clear: none !important;
    float: left;
    padding-top: 5px !important;
    padding-left: 30px;
}

.dataTables_wrapper .dt-buttons {
    float: left !important;
}

.portlet.box > .portlet-body {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.portlet > .portlet-title > .caption {
    padding: 10px 0 !important;
}

.captionSearchCollapse {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    width: 10em;
    float: right;
}

.selectize-input.input-active,
.selectize-input.items.has-options.not-full {
    padding: 0 12px !important;
}

.selectize-input {
    padding: 6px 12px !important;
}

.portlet > .portlet-title > .tools > a {
    margin-right: 5px;
}

.portlet > .portlet-title > .caption {
    cursor: pointer;
}

.portlet > .portlet-title > .screenname {
    float: left;
    display: inline-block;
    font-size: 24px;
    line-height: 21px;
    padding: 10px 0;
    color: #a3ff93;
    font-weight: bold;
    text-transform: uppercase;
}

.portlet > .portlet-title > .caption {
    float: right;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

#customForm {
    display: flex;
    flex-flow: row wrap;
}

.MultiCheckboxScroll > .DTE_Field.DTE_Field_Type_checkbox > div {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.portlet.box.blue {
    margin-right: -30px !important;
}
