@{
    ViewBag.Title = "ZepSecure - Access Matrix";
}
<h3>Access Matrix</h3>
<style>
    .scroll-access-matrix {
        overflow-y: auto;
        width: 100%;
    }

        .scroll-access-matrix table tbody {
            overflow: auto;
            width: 100%;
            height: 350px;
        }

    div.jtable-main-container table.jtable tbody > tr {
        height: 30px !important;
    }
</style>
<div style="padding:5px;">
    <div class="form-group row">
        <div class="panel panel-default col-xs-12">
            <div class="panel-heading">
                <h5 class="panel-title">Group Maintenance</h5>
            </div>
            <div class="panel panel-default col-xs-3">
                <div class="form-group row" style="padding:10px;">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group row flex-v-center">
                                <label class="col-lg-3 col-sm-3">ID:</label>
                                <div class="col-lg-8 col-sm-8">
                                    <input id="txtGrpID" name="txtGrpID" />
                                </div>
                            </div>
                            <div class="form-group row flex-v-center">
                                <label class="col-lg-3 col-sm-3">Name:</label>
                                <div class="col-lg-8 col-sm-8">
                                    <input id="txtGrpName" name="txtGrpName" />
                                </div>
                            </div>
                            <div style="float: right; margin-right:35px;">
                                <button type="button" id="btnAdd" class="btn btn-success" onclick="AddDataAccessGroup()">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-group row" style="padding:15px;height:400px !important;">
                    <div id="GridGroup"></div>
                </div>
                <div class="form-group row" style="padding:10px; margin-top:20px;">
                    <div style="float:right;">
                        <button type="button" id="btnRemove" class="btn btn-danger" onclick="DeleteDataAccessGroup()">Remove</button>
                    </div>
                    <div style="float:left;">
                        <button type="button" id="btnSave" class="btn btn-success" onclick="SubmitFormAccessMatrix()">Save</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div id="GridAccessMatrix"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
 
        });
         
        function ViewAccessMatrix(gID) {
            $.ajax({
                type: "POST",
                data: { GroupID: gID },
                url: '@Url.Action("PopulateAccessRight")',
                success: function (response, status, xhr) {
                    $('#GridAccessMatrix').html(response);
                }
            });
        }


        function SubmitFormAccessMatrix() {
            var $form = $("#AccessMatrixForm").closest('form');
            $.ajax({
                type: "POST",
                data: $form.serialize(),
                url: '@Url.Action("SubmitFormAccessMatrix")',
                success: function (response, status, xhr) {
                    if (response != '') {
                        ShowMessage(response.split('|')[0], response.split('|')[1], response.split('|')[2]);
                    };
                }
            });
        }

        function AddDataAccessGroup() {
            var $form = $("#btnAdd").parents('form');
            $.ajax({
                type: "POST",
                data: $form.serialize(),
                url: '@Url.Action("AddDataAccessGroup")',
                success: function (response, status, xhr) {
                    if (response != '') {
                        ShowMessage(response.split('|')[0], response.split('|')[1], response.split('|')[2]);
                    };
                    $('#GridGroup').jtable('load');
                    $("#txtGrpID").val('');
                    $("#txtGrpName").val('');
                }
            });
        };

        function DeleteDataAccessGroup(id) {
            var $selectedRows = $('#GridGroup').jtable('selectedRows');
            var str = "";
            if ($selectedRows.length === 0) {
                ShowMessage("Invalid Selection", "Please select a group to remove", "error");
            } else {
                var record;
                $selectedRows.each(function () {
                    record = $(this).data('record');
                });
                $("#ConfirmTitle").html("Confirm");
                $("#ConfirmBody").html("Are you sure you want to remove?");
                $('#PopupConfirm').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                .one('click', '#ConfirmOK', function (e) {
                    $.ajax({
                        type: "POST",
                        data: { GroupID: record.GroupID },
                        url: '@Url.Action("DeleteDataAccessGroup")',
                        success: function (response, status, xhr) {
                            if (response != '') {
                                ShowMessage(response.split('|')[0], response.split('|')[1], response.split('|')[2]);
                            }; $('#GridGroup').jtable('load');
                        }
                    });
                });
            } 
        };
    </script>

}
