
@using WEE_API.Models
@using WEE_API.ViewModel
@{
    ViewBag.Title = "Job";
    var ViewDT = new ViewDataDictionary<Job>();
}
@section PageStyles
{
    <style>

    </style>
}

<div class="row">
    <table id="DataTableJob" 
            class="table table-bordered table-hover table-header-fixed no-footer order-column"
            data-orders='[[0, "asc"]]'
            data-select="true"
            data-dom="fBrtlpi"
        ><thead>
            <tr>
                  <th data-filter_type="auto_complete" data-data="JobName" data-type="string" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.JobName, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.JobName, ViewDT).PropertyName)
                  </th>
                  <th data-filter_type="range_date" data-data="DateCreate" data-type="DateTime?" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.DateCreate, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.DateCreate, ViewDT).PropertyName)
                  </th>
                  <th data-filter_type="range_date" data-data="DateEnd" data-type="DateTime?" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.DateEnd, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.DateEnd, ViewDT).PropertyName)
                  </th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Html.Partial("_CommonDatatablesEditor", new DatatablesEditorViewModel()
    {
        Controller = "Job",
        TableID = "DataTableJob",
        FieldID = "JobID",
        ButtonPlaceID = "buttons",
        buttonExternal = false,
        Ydacf = "HeaderFilter"
        //Ydacf = "DataTablePutExternalFilter"
    })
}