
@using WEE_API.Models
@using WEE_API.ViewModel
@{
    var screenTitle = "Question";
    ViewBag.Title = screenTitle;
    var ViewDT = new ViewDataDictionary<Question>();
}
@section PageStyles
{
    <style>

    </style>
}

<div id="customForm">
<fieldset class="name">
        <div data-editor-template="QuestionName"></div>
        <div data-editor-template="QuestionTypeID"></div>
    </fieldset>
</div>

@Html.Partial("_ExternalFilter", screenTitle)

<div class="row">
    <table id="DataTableQuestion" 
            class="table table-bordered table-hover table-header-fixed no-footer order-column"
            data-orders='[[0, "asc"]]'
            data-select="true"
            data-dom="fBrtlpi">
        <thead>
            <tr>
                  <th data-filter_type="auto_complete" data-data="QuestionName" data-type="string" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.QuestionName, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.QuestionName, ViewDT).PropertyName)
                  </th>
                  <th data-filter_type="range_number_slider" data-data="QuestionType.QuestionTypeName" data-type="selectize" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                  @(ModelMetadata.FromLambdaExpression(x => x.QuestionTypeID, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.QuestionTypeID, ViewDT).PropertyName)
                  </th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    @Html.Partial("_CommonDatatablesEditor", new DatatablesEditorViewModel()
    {
        Controller = "Question",
        TableID = "DataTableQuestion",
        FieldID = "QuestionID",
        ButtonPlaceID = "buttons",
        buttonExternal = false,
        //Ydacf = "HeaderFilter"
        Ydacf = "DataTablePutExternalFilter",
        CustomEditorFormID = "customForm"
    })
}