
@using WEE_API.Common
@using WEE_API.Models
@using WEE_API.ViewModel
@{
    var screenTitle = "Kiểu công việc";
    ViewBag.Title = screenTitle;
    var ViewDT = new ViewDataDictionary<JobType>();
    var filterOnHeader = "HeaderFilter"; //"DataTablePutExternalFilter";
}
@section PageStyles
{
    <style>

    </style>
}

<div id="customForm">
    <fieldset class="name">
        <div data-editor-template="JobTypeName"></div>
    </fieldset>
</div>

<div class="row">
    <div class="col-sm-8">
        @Html.Partial("_ExternalFilter", new ExternalFilterSettings { ScreenTitle = screenTitle, FilterOn = filterOnHeader })
        <table id="DataTableJobType" 
               class="table table-bordered table-hover table-header-fixed no-footer order-column"
               data-orders='[[0, "asc"]]'
               data-select="true"
               data-dom="fBrtlpi">
            <thead>
            <tr>
                <th data-filter_type="auto_complete" data-data="JobTypeName" data-type="string" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                    @(ModelMetadata.FromLambdaExpression(x => x.JobTypeName, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.JobTypeName, ViewDT).PropertyName)
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    @Html.Partial("_CommonDatatablesEditor", new DatatablesEditorViewModel()
    {
        Controller = "JobType",
        TableID = "DataTableJobType",
        FieldID = "JobTypeID",
        ButtonPlaceID = "buttons",
        buttonExternal = false,
        Ydacf = filterOnHeader,
        CustomEditorFormID = "customForm"
    })
}