
@using WEE_API.Common
@using WEE_API.Models
@using WEE_API.ViewModel
@{
    var screenTitle = "Vị trí công việc";
    ViewBag.Title = screenTitle;
    var ViewDT = new ViewDataDictionary<JobPosition>();
    var filterOnHeader = "HeaderFilter"; //"DataTablePutExternalFilter";
}
@section PageStyles
{
    <style>
    </style>
}

<div id="customForm">
    <fieldset class="name">
        <div data-editor-template="JobPositionName"></div>
    </fieldset>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.Partial("_ExternalFilter", new ExternalFilterSettings { ScreenTitle = screenTitle, FilterOn = filterOnHeader })
        <table id="DataTableJobPosition"
               class="table table-bordered table-hover table-header-fixed no-footer order-column"
               data-orders='[[0, "asc"]]'
               data-select="true"
               data-dom="fBrtlpi">
            <thead>
                <tr>
                    <th data-filter_type="auto_complete" data-data="JobPositionName" data-type="string" data-class="" data-align="" data-listvisible="true" data-editvisible="true">
                        @(ModelMetadata.FromLambdaExpression(x => x.JobPositionName, ViewDT).DisplayName ?? ModelMetadata.FromLambdaExpression(x => x.JobPositionName, ViewDT).PropertyName)
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    @Html.Partial("_CommonDatatablesEditor", new DatatablesEditorViewModel()
{
    Controller = "JobPosition",
    TableID = "DataTableJobPosition",
    FieldID = "JobPositionID",
    ButtonPlaceID = "buttons",
    buttonExternal = false,
    Ydacf = filterOnHeader,
    CustomEditorFormID = "customForm"
})
}