@model List<string>
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="">@Model[0]</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Model[1]</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <div id="buttons"></div>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
