@model WEE_API.Common.ExternalFilterSettings 
<div class="row col-sm-12">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="@(Model.FilterTitleClass??"screenname")" id="TableName@(Model.FilterTitleBox)">@Model.ScreenTitle</div>
            @if (Model.FilterOn != "HeaderFilter")
            {
                <div class="caption">Tìm kiếm nâng cao</div>
                <div class="tools">
                    <a href="javascript:;" class="expand" data-original-title="" title=""> </a>
                </div>
            }
        </div>
        @if (Model.FilterOn != "HeaderFilter")
        {
            <div class="portlet-body row" style="display: none;">
                <div id="DataTablePutExternalFilter" class="YdacfExternalFilter">
                </div>
            </div>
        }
    </div>
</div>